*{
    color: blue;
}
body ::before{
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(./images/circles-background-dark-tones_60389-166.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed ;
    opacity: 0.5;
    transform: rotate(180deg);
    z-index: -1;
}