<%- include("partials/header.ejs") %>


  <h1>The full guide to LoL tournemants</h1>

<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-2 my-5"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/League_of_Legends_Champions_Korea_logo.svg/800px-League_of_Legends_Champions_Korea_logo.svg.png" height="75" alt="LCK logo"></div>
    <div class="col-5 my-5"><a target="_blank" href="https://lol.fandom.com/wiki/LCK/2024_Season/Spring_Season" class="styled-link">LCK 2024 Spring</a></div>
    <div class="col-5 my-5"><a target="_blank" href="https://lol.fandom.com/wiki/LCK/2024_Season/Spring_Playoffs" class="styled-link">LCK 2024 Spring Playoffs</a></div>
    <hr class="bg-white border-top-2 border-primary">

    <div class="col-2 my-5"><img src="https://toppng.com/uploads/preview/lec-logo-league-of-legends-lec-logo-11563335137pu09vlug7t.png" height="75" alt="LEC Logo"></div>
    <div class="col-5 my-5"><a target="_blank" href="https://lol.fandom.com/wiki/LEC/2024_Season/Spring_Season" class="styled-link">LEC 2024 Spring</a></div>
    <div class="col-5 my-5"><a target="_blank" href="https://lol.fandom.com/wiki/LEC/2024_Season/Spring_Playoffs" class="styled-link">LEC 2024 Spring Playoffs</a></div>
    <hr/>

    <div class="col-2 my-5"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b4/League_of_legends_pro_league_logo.svg/1200px-League_of_legends_pro_league_logo.svg.png" height="75" alt="LPL Logo"></div>
    <div class="col-5 my-5"><a target="_blank" href="https://lol.fandom.com/wiki/LPL/2024_Season/Spring_Season" class="styled-link">LPL 2024 Spring</a></div>
    <div class="col-5 my-5"><a target="_blank" href="https://lol.fandom.com/wiki/LPL/2024_Season/Spring_Playoffs" class="styled-link">LPL 2024 Spring Playoffs</a></div>
    <hr class="bg-blue border-top-2 border-primary">

    <div class="col-2 my-5"><img src="https://ih1.redbubble.net/image.4635775069.9993/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.jpg" height="75" alt="LCS Logo"></div>
    <div class="col-5 my-5"><a target="_blank" href="https://lol.fandom.com/wiki/LCS/2024_Season/Spring_Season" class="styled-link">LCS 2024 Spring</a></div>
    <div class="col-5 my-5"><a target="_blank" href="https://lol.fandom.com/wiki/LCS/2024_Season/Spring_Playoffs" class="styled-link">LCS 2024 Spring Playoffs</a></div>
    <div class="col-2 my-5"><img src="https://upload.wikimedia.org/wikipedia/en/e/e7/LOL_MSI_logo.svg" height="75" alt="MSI Logo"></div>
    <div class="col-10 mb-5 d-flex justify-content-center align-items-center"><a target="_blank" href="https://lol.fandom.com/wiki/2024_Mid-Season_Invitational" class="styled-link">MSI 2024</a></div>
    </div>
    <div class="col-12 my-5 mb-5 pb-5"></div>


  </div>
</div>

  <%- include("partials/footer.ejs") %>